{
  "clusters": [
    {
      "nodes": [
        {
          "node": {
            "hostnames": {
              "manage": [
                "192.168.99.231",
		"192.168.99.231"
              ],
              "storage": [
                "192.168.99.231"
              ]
            },
            "zone": 1
          },
          "devices": [
            "/dev/sda"
          ]
        },
	{
          "node": {
            "hostnames": {
              "manage": [
                "192.168.99.233"
              ],
              "storage": [
                "192.168.99.233"
              ]
            },
            "zone": 1
          },
          "devices": [
            "/dev/sda"
          ]
        },
	{
          "node": {
            "hostnames": {
              "manage": [
                "192.168.99.234"
              ],
              "storage": [
                "192.168.99.234"
              ]
            },
            "zone": 1
          },
          "devices": [
            "/dev/sda"
          ]
        },
	{
          "node": {
            "hostnames": {
              "manage": [
                "192.168.99.235"
              ],
              "storage": [
                "192.168.99.235"
              ]
            },
            "zone": 1
          },
          "devices": [
            "/dev/sda"
          ]
        },
	{
          "node": {
            "hostnames": {
              "manage": [
                "192.168.99.236"
              ],
              "storage": [
                "192.168.99.236"
              ]
            },
            "zone": 1
          },
          "devices": [
            "/dev/sda"
          ]
        },
	{
          "node": {
            "hostnames": {
              "manage": [
                "192.168.99.237"
              ],
              "storage": [
                "192.168.99.237"
              ]
            },
            "zone": 1
          },
          "devices": [
            "/dev/sda"
          ]
        },
	{
          "node": {
            "hostnames": {
              "manage": [
                "192.168.99.238"
              ],
              "storage": [
                "192.168.99.238"
              ]
            },
            "zone": 1
          },
          "devices": [
            "/dev/sda"
          ]
        },
        {
          "node": {
            "hostnames": {
              "manage": [
                "192.168.99.239"
              ],
              "storage": [
                "192.168.99.239"
              ]
            },
            "zone": 1
          },
          "devices": [
            "/dev/sda"
          ]
        },
        {
          "node": {
            "hostnames": {
              "manage": [
                "192.168.99.240"
              ],
              "storage": [
                "192.168.99.240"
              ]
            },
            "zone": 1
          },
          "devices": [
            "/dev/sda"
          ]
        }
      ]
    }
  ]
}
